body,
html {
  margin: 0;
  padding: 0;
  background-color: #232323;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #efefef;
}

.loader {
  width: 100px;
  height: 100px;
  border: 10px solid #efefef;
  border-top: 10px solid #c30f0f;
  border-radius: 100px;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efefef;
}

.frame {
  margin: 2rem auto;
  width: 300px;
  height: 300px;
  border: 2px solid orange;
}

.piece {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: orangered;
}
